---
import Header from "@/components/Header.astro";
import LeaderBoards from "../components/LeaderBoards.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SelectMode from "@/sections/SelectMode.astro";
import Footer from "@/components/Footer.astro";
---

<BaseLayout>
  <div class="page-container">
    <Header />
    <div class="main">
      <SelectMode />
    </div>
    <Footer />
  </div>
</BaseLayout>

<style>
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .main{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}
</style>
