---
import type { Modes, TypesLeaderBoard } from "@/utils";
import { getLeaderboard } from "@/services/leaderboard";

interface Props {
  mode: Modes;
  type: TypesLeaderBoard;
}

const { mode, type } = Astro.props;

const data = await getLeaderboard({ mode, type });

// Cache control for performance optimization
// Astro.response.headers.set("Cache-Control", "public, max-age=30");
---

<div class="leaderboard-container">
  {
    data && data.length > 0 ? (
      data.map((player) => <div class="name">{player.userProfile.lastNickname}</div>)
    ) : (
      <div class="no-data">No se encontraron resultados</div>
    )
  }
</div>

<style>

  .name{
    font-family: "Press";
  }
</style>
