---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import MainHead from "@/components/MainHead.astro";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KHZ63P3W");
    </script>
    <ClientRouter />
    <MainHead title={title} />
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KHZ63P3W"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style></style>
